.category{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  padding-top:20px;
}
.category:hover{
  border:2px solid black;
}
#category-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width:100%;
  color: white
}
#category-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:100%;
  gap:10px;
  margin-bottom:10px;
}
.delete-icon:hover {
  cursor:pointer;
}
.edit-icon:hover {
  cursor:pointer;
}
