#phrase-pair-container-editcategory {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  gap:50px; */
  width: 100%;
}

.list-width {
  width: 100%;
}

#edit-category-container-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.add-phrase-symbol-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-category {
  cursor: pointer;
}
.black-text{
  color:black;
}

.close:hover {
  cursor: pointer;
}

.add-phrase-widget-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;

}

.add-phrase-widget-1 {
  border: 1px solid black;
  height: 140px;
  border-radius: 5px;
  grid-row: 1/4;
  grid-column: 1/3;
  font-style: italic;
  padding-left: 50px;
}

.add-phrase-widget-2 {
  border: 1px solid black;
  height: 140px;
  border-radius: 5px;
  grid-row: 1/4;
  grid-column: 3/5;
  font-style: italic;
  padding-left: 50px;
}

.white-font {
  color: white;
}

.add-phrase-widget-submit {
  border: 1px solid black;
  grid-row: 2/3;
  grid-column: 5;
  color: white;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit-category-container-1 {
  width: 100%;
  display: flex;
}

.category-status {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  font-size: 1.8em;
  padding: 10px;

}