#category-tiles {
  height:400px;
  color: white;
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.max-width {
  width:80%
}
.category-tiles-container {
  width:80%;
  margin-top: 30px;
  display: flex;
  flex-direction:column;
  align-items: center;
}
#create-category {
  width:20%;
  height:100px;
  margin-top:50px;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#create-category:hover{
  border: 1px solid black;
}

