#category-tiles {
  height:400px;
  color: white;
  display: flex;
  flex-direction: row;
  gap:10px;
  justify-content: flex-start;
  align-items: center;
}
#create-category {
  width:20%;
  height:100px;
  background-color: rebeccapurple;
  align-items: center;
}
#category-container-1 {
  width:100%;
}