.account-content {
}
.success-login-container {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height:50vh;
}
.success-login {
  height: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding:20px;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
  border-radius:10px;
}
.divider{
  width:90%;
  height:1px;
  border: 1px solid black;
  background-color: black;
  margin: auto;
  margin-top:20px;
}

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
}
