.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: white;
  height:100px
}
.current-language {
  border: 3px dashed black;
  padding:10px;
  margin-right:10px;
}
.menu-button {
  cursor: pointer;
}