.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: white;
  height:100px
}
.current-language {
  padding:10px;
  height:100%;
  margin-right:10px;
}
.current-language img {
  height:100%;
  border: white 2px solid;
  border-radius: 5px;
}
.menu-button {
  cursor: pointer;
}