.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  color: white;
  height: 100px
}
.menu-item:last-child{
  margin-right: 30px;
}

.menu-item:first-child {
  margin-right: auto;
  margin-left:20px;
}

.current-language {
  padding: 10px;
  height: 100%;
  margin-right: 10px;
}

.current-language img {
  height: 100%;
  border: white 2px solid;
  border-radius: 5px;
}

.menu-button {
  cursor: pointer;
}

header .logo-container {
  height: 80%;
}

header .logo {
  height: 100%;
  border-radius: 10%;
  cursor: pointer;
}
#sign-out-button {
  color: white;
  font-size: medium;
}

#sign-out-button:hover {
  text-decoration: underline;
}
#sign-out-container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  height:100px;
  border-radius: 10px;;
  padding: 10px;
}