.phrase-pair-container-1 {
  display: flex;
  flex-direction: row;
  gap:50px;
  width:100%;
  color:white;
  align-items: center;
  justify-content: space-around;

}

.l-view {
  width:500px;
  height:140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  overflow-y: auto;
}
.l-edit {
  width:500px;
  height:80px;
}
#edit-mode {
  border-radius:0px;;
}
.edit-widgets-browse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#save-phrase-pair{
  border: none;
}
#save-phrase-pair:hover {
  cursor: pointer;
}
#delete-phrase-pair:hover {
  cursor: pointer;
  background-color:none;
}
#delete-phrase-pair {
  border: none;
}

#edit-phrase-pair:hover {
  cursor: pointer;
}

.get-phrase-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.get-phrase-button:hover {
  cursor: pointer;
}

.indent {
  font-style: italic;
  padding-left: 50px;
}