.phrase-pair-container-1 {
  display: flex;
  flex-direction: row;
  gap:100px;
  width:100%;
  color:white;
  align-items: center;
  justify-content: space-around;
}

.l-view {
  width:500px;
  height:80px;
}
.l-edit {
  width:500px;
  height:80px;
}


#save-phrase-pair:hover {
  cursor: pointer;
}
#delete-phrase-pair:hover {
  cursor: pointer;
  background-color:none;
}
#delete-phrase-pair {
  border: none;
}

#edit-phrase-pair:hover {
  cursor: pointer;
}