.phrase-pair-container-1 {
  display: flex;
  flex-direction: row;
  gap:100px;
  width:700px;
  color:white;
  align-items: center;
  justify-content: space-around;
}

#l1 {
  padding:20px 80px;
}
#l2{
  padding:20px 80px;
}
#save-phrase-pair:hover {
  cursor: pointer;
}

#edit-phrase-pair:hover {
  cursor: pointer;
}