.account-content {
}
.success-signup-container {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height:50vh;
}
.success-signup {
  height: 200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
  font-size: 1.5em;
  color: white;
}