.App {
  text-align: center;
  background-color: #282c34;
}
.Holiday-Cheer-1-hex { background-color: #024554; }
.Holiday-Cheer-2-hex { background-color: #53736A; }
.Holiday-Cheer-3-hex { background-color: #6A8C69; }
.Holiday-Cheer-4-hex { background-color: #A8B545; }
.Holiday-Cheer-5-hex { background-color: #C2C0A6; }
.heading-1 {font-size: 2em}
.heading-2 {font-size: 1.8em}
.heading-3 {font-size: 1.3em}
.text-1 {font-size: 1.2em}

.app-loading{
  color: #53736A;
  animation: spin-account-loading 1s infinite linear;
  margin-top:200px;

}
@keyframes spin-account-loading {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

